<div id="page-wrap">
        <header id="page-header"
          class="navbar navbar-expand-sm bg-light navbar-light flex-column flex-md-row justify-content-between">
          <!-- <a class="navbar-brand mr-0" href="/"><img height="30" alt="Ration.io logo" src="/images/ration-logo.png"/></a> -->
          <a class="navbar-brand" href="/">Online<span class="themecolor"> T</span>ickets</a>
          <div class="navbar-nav flex-row">
            <!-- LOGGED-IN NAVIGATION -->
      
            <!-- LOGGED-OUT NAVIGATION -->
      
            <!-- Only in desktop nav -->
            <div class="form-inline d-none ml-2 d-md-block">
              <a class="btn btn-outline-info" href="#">Welcome</a>
            </div>
            <a class="nav-item nav-link ml-2 mr-2" href="/account">Account</a>
            <a class="nav-item nav-link ml-2 mr-2" href="/logout">Log out</a>
      
          </div>
        </header>
      
      
        <div id="index" align="center">
              <div class="container" style="max-width : 40%"> <br> <br> <br> <br>
                <h2 class="text-center">Book Your Tickets Now</h2> <br>
                <hr>
                <p>Select your preference</p> <br>
                  <hr />
                  <div class="form-inline d-none ml-2 d-md-block">
                          <a class="btn btn-outline-info" href="/train/itin" style="width: 20%;">Train!</a> <br><br>
                        </div>
                        <div class="form-inline d-none ml-2 d-md-block">
                                <a class="btn btn-outline-info" href="/car/itin" style="width: 20%;">Car!</a> <br><br>
                              </div><div class="form-inline d-none ml-2 d-md-block" >
                                    <a class="btn btn-outline-info" href="/hotel/itin" style="width: 20%;">Hotel!</a> <br><br>
                                  </div>
                 <p>Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor</p><br>
              </div>
            </div>
           