<div id="page-wrap">
  <header id="page-header"
    class="navbar navbar-expand-sm bg-light navbar-light flex-column flex-md-row justify-content-between">
    <!-- <a class="navbar-brand mr-0" href="/"><img height="30" alt="Ration.io logo" src="/images/ration-logo.png"/></a> -->
    <a class="navbar-brand" href="/">Online<span class="themecolor"> T</span>ickets</a>
    <div class="navbar-nav flex-row">
      <a class="nav-item nav-link ml-2 mr-2" href="/index">Home</a>
      <a class="nav-item nav-link ml-2 mr-2" href="/account">Account</a>
      <a class="nav-item nav-link ml-2 mr-2" href="/logout">Log out</a>
    </div>
  </header>
  <div class="container-fluid">
    <div class="col-md-10">
      <br><br><br>

      <div class="sidebar-header d-flex align-items-center">
        <div class="title">
          <h1 class="h5">Booking Procedure:</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-info active"> 1. Itinerary </button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-info disabled">2. Accomodation</button>

        </div>
        <div class="col-md-2">
          <button class="btn btn-info disabled">3. Passenger Info</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-info disabled">4. Payment Info</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr><br>
  <div class="container-fluid">
    <div class="col-md-10"><br>
      <form method="post">
        <div class="col-md-6 offset-md-1">
          <div class="row">
            <div class="col-md-2">
              <label for="origin">Origin: </label>
            </div>
            <div class="col-md-3 offset-md-1">
              <select class="btn-lg btn-outline-dark" style="width: 150%;" name="origin" required>
                <option value="" disabled="disabled" selected="selected">select origin</option>
                <option value="1">One</option>
                <option value="2">Two</option>
              </select>
            </div>
          </div>
          <br> <br>
          <div class="row">
            <div class="col-md-2">
              <label for="destination">Destination: </label>
            </div>
            <div class="col-md-3 offset-md-1">
              <select class="btn-lg btn-outline-dark" style="width: 150%;" name="destination" required>
                <option value="" disabled="disabled" selected="selected">select destination</option>
                <option value="1">One</option>
                <option value="2">Two</option>
              </select>
            </div>
          </div>
          <br> <br>
          <div class="row">
            <div class="col-md-2">
              <label for="depart">Departure Date: </label>
            </div>
            <div class="col-md-3 offset-md-1">
              <input type="date" name="depart" id="depart" class="btn-lg btn-outline-dark" style="width: 150%;" required>
            </div>
          </div>
          <br> <br>
          <div class="offset-md-10">
            <button type="submit" class="btn-primary btn-lg btn-block" style="width: 100%;">Continue</button>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>
