<div id="page-wrap">
  <header id="page-header"
    class="navbar navbar-expand-sm bg-light navbar-light flex-column flex-md-row justify-content-between">
    <!-- <a class="navbar-brand mr-0" href="/"><img height="30" alt="Ration.io logo" src="/images/ration-logo.png"/></a> -->
    <a class="navbar-brand" href="/">Online<span class="themecolor"> T</span>ickets</a>
    <div class="navbar-nav flex-row">
      <a class="nav-item nav-link ml-2 mr-2" href="/index">Home</a>
      <a class="nav-item nav-link ml-2 mr-2" href="/account">Account</a>
      <a class="nav-item nav-link ml-2 mr-2" href="/logout">Log out</a>
    </div>
  </header>
  <div class="container-fluid">
    <div class="col-md-10">
      <br><br><br>

      <div class="sidebar-header d-flex align-items-center">
        <div class="title">
          <h1 class="h5">Booking Procedure:</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-success active"> 1. Itinerary </button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success active">2. Accomodation</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success active">3. Passenger Info</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-info active">4. Payment Info</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr><br>

  <div class="container-fluid">
    <div class="col-md-10"><br>
      <form method="post">
        <div class="col-md-6 offset-md-1">
          <div class="row">
            <div class="col-md-2">
              <label for="dinfo">Departure info: </label>
            </div>
            <div class="col-md-6 offset-md-1">
              <p> Medallion Transport, M/V Lady of All Nations <br>
                - <br>

                Departure Date: @9:00AM <br>
                Estimated Arrival Time: The Next Day @3:00PM</p> <br>
            </div>
          </div>
          <br> <br>

          <div class="row">
            <div class="col-md-2">
              <label for="cinfo">Contact info: </label>
            </div>
            <div class="col-md-6 offset-md-1">
              <p> Booked By: name <br>
                Contact: contact <br>
                Address: address <br>

                Total: 500 </p> <br>
            <input type="text" class="form-control" autofocus placeholder="submit price" name="emailAddress" required>


            </div>
          </div>
          <br> <br>


          <br>


          <div class="col-md-10">
            <div class="row">
              <div class="col-md-2">
                <input type="button" class="btn-danger btn-lg btn-block" style="width: 100%;" value="Back"
                  onclick="window.history.back()" />
              </div>
              <div class="offset-md-8">
                <button type="submit" class="btn-primary btn-lg btn-block" style="width: 100%;">Confirm</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
